<p>home works!</p>

<hr>
<button (click)="toggleCard()">Toggle cards</button>
<hr>

<!-- <app-form></app-form> -->

<!-- директивы который начинаются со * меняют HTML code (*ngIf, *ngFor)-->
<div *ngIf="isCardsShowed; else noCards">

    <app-card
     *ngFor="let iterCard of cards; let idx='index'"
     [cardIns]="iterCard"
     [cardIndex]="idx + 1"
     ></app-card>

    <!-- <app-card></app-card>
    <app-card></app-card> -->
</div>

<ng-template #noCards>
    <p>Cards are hidden!</p>
</ng-template>